.site-header {
	padding: 20px 0 18px 0;

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__nav-list {
		display: flex;
		margin: 0;
		list-style: none;
	}

	&__nav-item {
		margin-right: 33px;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;

		a {
			position: relative;
			color: inherit;
			text-decoration: none;
			padding-right: 27px;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 1px solid #BDBDBD;
				transition: .3s background-color;
			}
		}


		&:hover {
			a {
				&::before {
					background-color: $green;
				}
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__callback-btn {
		padding: 6px 10px 0;
		display: flex;
		justify-content: space-between;
		width: 170px;
		height: 42px;
		border: 1px solid #D6D6D6;
		border-radius: 10px;
		
		&:hover {
			text-decoration: none;
		}
	}

	&__callback-btn-icon {
		width: 19px;
	}

	&__callback-btn-right {
		line-height: 0;
	}

	&__callback-btn-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		display: block;
	}

	&__callback-btn-subtitle {
		display: block;
		margin-top: 2px;
		font-weight: 400;
		font-size: 10px;
		line-height: 95%;
		text-transform: uppercase;
		color: $green;
	}
}